<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <div class="col">
      <%- include('../partials/message', locals) %>
    </div>
    
    <form action="/friends" method="POST">
      <label for="username">Enter Username:</label>
      <input type="text" id="username" name="username">
      <button type="submit">Follow User </button>
    </form>
    <p>Once you follow someone, you'll be able to see all their posts below!</p>
  
    <h2>You are currently following:</h2>
    <% if (followedUsers && followedUsers.length > 0) { %>
      <ul>
        <% followedUsers.forEach(followedUser => { %>
          <li><%= followedUser.username %></li>
          <ul>
            <% followedUser.photoUrls.forEach(photoUrl => { %>
              <li><%= followedUser.username %> took this in <%= photoUrl.photo_state %>! <img src="<%= photoUrl.photo_url %>"></li>
            <% }); %>
          </ul>
        <% }); %>
      </ul>
    <% } else { %>
      <p>You are not currently following anyone.</p>
    <% } %>

  </div>
</main>
<style>
  img {
    max-width: 300px;
    max-height: 300px;
  }
</style>
<%- include ('../partials/footer') %>
