<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="col"><%- include ('../partials/message') %></div>
    
    <main class="container mt-5">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <div class="d-flex">
          <div class="card sm-6">
            <div class="card-body text-center">
              <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">
                <%= username %>
              </h5>
              <div class="d-flex justify-content-center mb-2">
                <% if (recentUserImages[0]) { %>
                  <img src="<%= recentUserImages[0].photo_url %>" alt="userImage1" width="150" height="150" class="rounded margin-left">
                <% } else { %>
                  <img src="#" alt="No image available" width="150" height="150" class="rounded margin-left">
                <% } %>
                <% if (recentUserImages[1]) { %>
                  <img src="<%= recentUserImages[1].photo_url %>" alt="userImage2" width="150" height="150" class="rounded margin-right">
                <% } else { %>
                  <img src="#" alt="No image available" width="150" height="150" class="rounded margin-right">
                <% } %>
              </div>
            </div>
          </div>    
          <div class="col-sm-7">
            <h1 class="text-center">Sky Share</h1>
            <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <% for (let i = 0; i < randomFollowedUserImages.length; i++) { %>
                  <div class="carousel-item<%= i === 0 ? ' active' : '' %>">
                    <img src="<%= randomFollowedUserImages[i].photo_url %>" class="d-block w-100" alt="Feed Image" height="500" width="300">
                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
                      <h5><%= randomFollowedUserImages[i].username %> took this photo in <%= randomFollowedUserImages[i].photo_state %>!</h5>
                    </div>
                  </div>
                <% } %>
              </div>              
              <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>          
        </div>
      </main>


  </div>
</main>

<%- include ('../partials/footer') %>