<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


<main>
    <div class="container">
      <div class="col">
        <%- include('../partials/message', locals) %>
      </div>


      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="UPload">
          <h3>Upload Photo &#x2728;</h3>
        </div>
        <input type="file" name="recfile" accept="image/*" required>
        <br>

        <label for="state">Where did you take this?</label>
        <select name="state" required>
          <option value="">--Please select--</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="North Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
        </select>        <br>
        
        <input type="submit" value="Upload" style="background-color:rgb(87, 107, 166); color:white; border:none; border-radius:2px; width: 70px;">
      </form>
      <p></p>
      <% if (photoUrls.length > 0) { %>
        <h4>Your images!</h4>
        <% for (let i = 0; i < photoUrls.length; i += 3) { %>
          <div class="row">
            <% for (let j = i; j < i + 3 && j < photoUrls.length; j++) { %>
              <div class="col-md-4">
                <img src="<%= photoUrls[j].photo_url %>" alt="User uploaded photo">
                <p>You took this in <%= photoUrls[j].photo_state %></p>
                <form method="POST" action="/delete-photo">
                  <input type="hidden" name="photo_url" value="<%= photoUrls[j].photo_url %>">
                  <button type="submit" name="delete">Delete</button>
                </form>
              </div>
            <% } %>            
          </div>
        <% } %>
      <% } else { %>
        <div class="notFollowing">
        <p>You have not posted any photos yet!</p>
        </div>
      <% } %>
    
  
    </div>
  </main>
  <style>
    img {
      max-width: 300px;
      max-height: 300px;
    }
    button {
      background-color:rgb(95, 84, 183);
      color: white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
    }
    button:hover{
      background-color:rgb(146, 194, 238);
      transition: .2s;
    }
    .notFollowing{
    margin-top:9px;
    font-style:italic;
    opacity: .5;
  }
  .UPload{
   /* font-family: 'Times New Roman', Times, serif; */
    color:rgb(71, 70, 70);
  }
  </style>
  
  
  <%- include ('../partials/footer') %>